# House Market

Let's go a little further into python.

1. Download the four files “superficie.csv” / “nombre_de_sdb.csv” / “nombre_de_chambres.csv” / "house_price.csv"

2. Read the files and create the 4 corresponding Dataframes

In [133]:
import pandas as pd

data1 = pd.read_csv('house_price.csv')

data1.head()

   Unnamed: 0  id  house_price
0           0  14    1918154.0
1           1  30     739142.0
2           2  70    1621938.0
3           3  77    1319862.0
4           4  50     146250.0

In [134]:
data2 = pd.read_csv("nombre_de_chambres.csv")

data2.head()

   0  1
0  1  4
1  2  1
2  3  4
3  4  2
4  5  4

In [135]:
data3 = pd.read_csv("nombre_de_sdb.csv")

data3.head()

   0  2
0  1  1
1  2  1
2  3  3
3  4  1
4  5  3

In [136]:
data4 = pd.read_csv("superficie.csv")

data4.head()

   0  28844
0  1  27667
1  2  14742
2  3  28089
3  4  11713
4  5  28591

3. Give a column name to the three datasets that don't have a header in the source file

In [137]:
data1.head()

   Unnamed: 0  id  house_price
0           0  14    1918154.0
1           1  30     739142.0
2           2  70    1621938.0
3           3  77    1319862.0
4           4  50     146250.0

In [138]:
data2.rename(columns={'1':'Rooms'} , inplace=True)

data2.rename(columns={'0':'id'} , inplace=True)

data2.head()

   id  Rooms
0   1      4
1   2      1
2   3      4
3   4      2
4   5      4

In [139]:
data3.rename(columns={'2': 'Bathrooms'}, inplace = True )

data3.rename(columns={'0': 'id'}, inplace = True )

data3.head()

   id  Bathrooms
0   1          1
1   2          1
2   3          3
3   4          1
4   5          3

In [140]:
data4.rename(columns= {'28844' : 'Surface'} , inplace=True)

data4.rename(columns= {'0' : 'id'} , inplace=True)

data4.head()

   id  Surface
0   1    27667
1   2    14742
2   3    28089
3   4    11713
4   5    28591

4. Make an inner join of these four datasets into a single dataframe.

In [141]:
from functools import reduce
import pandas as pd

dfs = [data1, data2, data3, data4]

dataset = reduce(lambda left, right: pd.merge(left, right, on='id', how='inner'), dfs)

dataset.head()

   Unnamed: 0  id  house_price  Rooms  Bathrooms  Surface
0           0  14    1918154.0      4          1    26824
1           1  30     739142.0      4          2    23872
2           2  70    1621938.0      2          2    26539
3           3  77    1319862.0      2          1    29449
4           4  50     146250.0      2          3    10502

5. What is the average surface area of the houses in our dataset?

In [142]:
int(dataset['Surface'].mean())

20354

6. What is the median and average number of rooms?

In [143]:
median_rooms = float(dataset['Rooms'].median())

mean_rooms = float(dataset['Rooms'].mean())

print(mean_rooms)

2.4343434343434343

7. What is the average cost of a house?

In [144]:
average_cost_of_house = float(dataset['house_price'].mean())

print(average_cost_of_house)

761140.191919192

8. What is the average cost of a house, depending on the number of rooms it has?

In [145]:
average_price_per_room = dataset.groupby('Rooms')['house_price'].mean()

print(average_price_per_room)

Rooms
1    960723.363636
2    642086.258065
3    645904.592593
4    888045.631579
Name: house_price, dtype: float64

10. The average cost per room doesn't tell us much. Let's try to categorize by size.

  - Create a new column in your dataset that we'll call home_size
Create five categories that respectively correspond to:
      - "very large" $=$ "a house larger than 25,000 sqrt_feet"
      - "large" $=$ "a house between 20,000 and 25,000 sqrt_feet"
      - "medium" $=$ "a house between 15,000 and 20,000 sqrt_feet"
      - "small" $=$ "a house between 10,000 and 15,000 sqrt_feet"
      - "very small" $=$ a house less than 10,000 sqrt_feet"

Fill in the corresponding rows in the house_size column.

In [146]:
def categorize_size(sqrt_feet):
    if sqrt_feet > 25000:
        return 'very large'
    elif 20000 < sqrt_feet <= 25000:
        return 'large'
    elif 15000 < sqrt_feet <= 20000:
        return 'medium'
    elif 10000 < sqrt_feet <= 15000:
        return 'small'
    else:
        return 'very small'
    
dataset['home_size'] = dataset['Surface'].apply(categorize_size)


print(dataset)

    Unnamed: 0  id  house_price  Rooms  Bathrooms  Surface   home_size
0            0  14    1918154.0      4          1    26824  very large
1            1  30     739142.0      4          2    23872       large
2            2  70    1621938.0      2          2    26539  very large
3            3  77    1319862.0      2          1    29449  very large
4            4  50     146250.0      2          3    10502       small
..         ...  ..          ...    ...        ...      ...         ...
94          95  15     157223.0      2          2    12754       small
95          96  81    1616313.0      1          3    25647  very large
96          97  42     143573.0      3          2    13185       small
97          98  19     974546.0      2          3    20928       large
98          99   9     157433.0      3          3    12841       small

[99 rows x 7 columns]

11. What is the average cost of a house depending on its size category?

In [147]:
average_cost_of_house_size_category = dataset.groupby('home_size')['house_price'].mean()

print(average_cost_of_house_size_category)

home_size
large         7.325385e+05
medium        3.256948e+05
small         1.561387e+05
very large    1.556667e+06
Name: house_price, dtype: float64

 12. Apply the code below to view your result. What can you conclude?

In [149]:
import plotly.express as px
fig = px.scatter(dataset, x = "Surface", y = "house_price", trendline = "ols")
fig.show()